#wholeCircle {
    display: grid;
    justify-content: center;
    
}

body {
    background-color: #37004f;
  }



.circle {
    background-color: grey;
    border-radius: 50%;
    grid-template-columns: 50% 50%   ;
    grid-template-rows: 200px 200px; 
    text-align: center;
    justify-content: center;
    margin: 0% 30% 0% 30% ;
}



#redButton {
    border: solid 10px black;
    background-color: #6b0000;
    border-radius: 100% 0% 0% 0%;
    

  /* HOVER OFF */
   -webkit-transition: padding .1s;
}
#blueButton {
    border: solid 10px black;
    background-color: #00034f;
    border-radius: 0% 100% 0% 0%;
    -webkit-transition: padding .1s;
}

#yellowButton {
    border: solid 10px black;
    background-color: #9e9600;
    border-radius: 0% 0% 0% 100%;
    -webkit-transition: padding .1s;
}

#greenButton {
    border: solid 10px black;
    background-color: #00780c;
    border-radius: 0% 0% 100% 0%;
    -webkit-transition: padding .1s;
}

#redButton:hover {
    /* padding: 20px; */
    background-color: #ff2600;
    border-radius: 90% 0% 0% 0%;
    border-right: 50%;
    
    /* HOVER ON */
    -webkit-transition: border-radius .1s;
}

#blueButton:hover {
    /* padding: 20px; */
    background-color: #00d0ff ;
    border-radius:  0% 90% 0% 0%;
    border-right: 50%;
 
   /* HOVER ON */
    -webkit-transition: border-radius .1s;
}

#yellowButton:hover {
    /* padding: 20px; */
    background-color: #eaff00;
    border-radius: 0% 0% 0% 90%;
    border-right: 50%;
 
   /* HOVER ON */
    -webkit-transition: border-radius .1s;
}

#greenButton:hover {
    /* padding: 20px; */
    background-color: #04ff00;
    border-radius: 0% 0% 90% 0%;
    border-right: 50%;
 
   /* HOVER ON */
    -webkit-transition: border-radius .1s;
}

#btn {
    padding: 0;
    width: 100px;
    height: 50px;
    margin: 0% 0% 0% 46%;
    border-radius: 10%;
}


#game {
    color: whitesmoke;
    text-align: center  ;
    justify-content: center;
}

#round {
    color: whitesmoke;
    text-align: center  ;
    justify-content: center;
}

#activeR{
    border: solid 10px black;
    background-color: #ff2600;
    border-radius: 90% 0% 0% 0%;
    border-right: 50%;
}

#activeB{
    border: solid 10px black;
    background-color: #00d0ff;
    border-radius:  0% 90% 0% 0%;
    border-right: 50%;
}

#activeY{
    border: solid 10px black;
    background-color: #eaff00;
    border-radius: 0% 0% 0% 90%;
    border-right: 50%;
}

#activeG{
    border: solid 10px black;
    background-color: #04ff00;
    border-radius: 0% 0% 90% 0%;
    border-right: 50%;
}